.about-us {
    text-align: center;
    padding: 20px;
  }
  
  .about-us h2{
    font-weight: bold;
    font-size: 1.5rem;
  }
  .photo-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  .name {
    font-size: 1.0em;
    font-weight: bold;
    color: #333;
    margin: 15px 0 2px;
    font-family: 'Arial', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .role {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .location {
    color: gray;
    margin-top: 5px;
  }